.amilsbw-advice {
	background-color: #d8f0f3;
}

.amilsbw-advice h1, h4 {
	font-family: 'Notable', sans-serif;
	text-align: center;
}

.amilsbw-advice p {
	font-family: 'Slabo 27px', serif;
}

.skillcrushing-it-advice h4 {
  color: #F16059;
}

