.amilsbw-advice {
	background-color: #FF6F1C;
}

.amilsbw-advice h1, h4 {
	font-family: 'Notable', sans-serif;
	text-align: center;
}

.amilsbw-advice p {
	font-family: 'Slabo 27px', serif;
}

.Skilcrusher-advice h4 {
  color: #FF1940;
}

